<form action="/stations/${_station.id}/addReading" method="POST">
    <div class="columns">
        <div class="field column is-2 is-offset-1">
            <label class="label">Add Code</label>
            <div class="select is-medium">
                <select name="code">
                    <option value="100">Clear</option>
                    <option value="200">Partial Clouds</option>
                    <option value="300">Cloudy </option>
                    <option value="400">Light Showers</option>
                    <option value="500">Heavy Showers</option>
                    <option value="600">Rain</option>
                    <option value="700">Snow</option>
                    <option value="800">Thunder</option>
                </select>
            </div>
        </div>
        <div class="field column is-2">
            <label class="label">Add Temperature</label>
                <input class="input is-medium" placeholder="0.0° Celsius" type="number" name="temp" step=".01" min="0" max="50" required>
        </div>
        <div class="field column is-2">
            <label class="label">Add Wind Speed</label>
                <input class="input is-medium" placeholder="0.0km/hr" type="number" name="windSpeed" step=".01" min="0" max="300" required>
        </div>
        <div class="field column is-2">
            <label class="label">Add Wind Direction</label>
            <input class="input is-medium" placeholder="0.0°" type="number" name="windDirection" step=".01" min="0" max="360" required>
        </div>
        <div class="field column is-2">
            <label class="label">Add Pressure</label>
                <input class="input is-medium" placeholder="000hPa" type="number" name="pressure" min="800" max="1111" required>
        </div>
    </div>
    <div class="field column is-2 is-offset-5">
        <label class="label">Add Date/Time</label>
        <input type="datetime-local" name="date">
    </div>
    <div class="field column is-2 is-offset-5 mt-4">
        <div class="control">
            <button class="button is-info is-medium">Add Reading</button>
        </div>
    </div>
</form>