<form action="/dashboard/addStation" method="POST">
    <div class="field">
        <br>
        <label class="label is-size-5">New Station</label>
        <br>
        <div class="control is-medium">
            <input class="input" placeholder="Station Name" type="text" name="location">
            <input class="input" placeholder="Longitude" type="text" name="longitude">
            <input class="input" placeholder="Latitude" type="text" name="latitude">
        </div>
    </div>
    <div class="field mt-4">
        <br>
        <button class="button is-info  is-size-5">Add Station</button>
    </div>
</form>
