<table class="table is-bordered">
  <div class="columns">
      <div class="column is-2 is-offset-1">
        <div class="card has-background-black" style="height: 300px;">
          <header class="card-header">
            <p class="card-header-title has-text-white has-text-centered">
              Station
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-medium">
              <img src="/public/images/white/whitecompass.png" alt="location">
            </figure>
          </div>
          <br>
          <p class="card-text has-text-white has-text-centered">
            ${_station.location}
            <br>
            ${_station.longitude} Longitude
            <br>
            ${_station.latitude} Latitude
          </p>
          <br>
        </div>
      </div>
      <div class="column is-2">
        <div class="card has-background-black">
          <header class="card-header">
            <p class="card-header-title has-text-white has-text-centered">
              Weather
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-medium">
              <img src="${_station.listLatestReading().icon()}">
            </figure>
          </div>
          <br>
          <p class="card-text has-text-white has-text-centered">
            ${_station.listLatestReading().conditions()}
          </p>
          <br>
        </div>
      </div>
      <div class="column is-2">
        <div class="card has-background-black">
          <header class="card-header">
            <p class="card-header-title has-text-white has-text-centered">
              Temperature
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-medium">
              <img src="/public/images/white/whitetemperature.png" alt="temperature">
            </figure>
          </div>
          <br>
          <p class="card-text has-text-white has-text-centered">
            ${_station.listLatestReading().getTemp()}° Celsius
            <br>
            ${_station.listLatestReading().fahrenheit()}° Fahrenheit
            <br>
            Min temp: ${_station.minTemp()}°
            <br>
            Max temp: ${_station.maxTemp()}°
          </p>
          <br>
        </div>
      </div>
      <div class="column is-2">
        <div class="card has-background-black">
          <header class="card-header">
            <p class="card-header-title has-text-white has-text-centered">
              Wind
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-medium">
              <img src="/public/images/white/whitewind.png" alt="wind">
            </figure>
          </div>
          <br>
          <p class="card-text has-text-white has-text-centered">
            ${_station.listLatestReading().beauforts()} bft
            <br>
            ${_station.listLatestReading().beaufortLabel()}
            <br>
            Feels like ${_station.listLatestReading().windChillReading()}°
            <br>
            ${_station.listLatestReading().windDirectionReading()}
            <br>
            Min speed: ${_station.minWind()} km/hr
            <br>
            Max speed: ${_station.maxWind()} km/hr
          </p>
          <br>
        </div>
      </div>
      <div class="column is-2">
        <div class="card has-background-black">
          <header class="card-header">
            <p class="card-header-title has-text-white has-text-centered">
              Pressure
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-medium">
              <img src="/public/images/white/whitepressure.png" alt="pressure">
            </figure>
          </div>
          <br>
          <p class="card-text has-text-white has-text-centered">
            ${_station.listLatestReading().getPressure()} hPa
            <br>
            Min: ${_station.minPressure()} hPa
            <br>
            Max: ${_station.maxPressure()} hPa
          </p>
          <br>
        </div>
      </div>
    <br>
    <table class="table is-bordered is-hoverable is-size-5">
      <tbody>
        <tr>
          <th>Code</th>
          <th>Temperature</th>
          <th>Wind Speed</th>
          <th>Wind Direction</th>
          <th>Pressure</th>
          <th></th>
        </tr>
        #{list items:_station.readings, as:'reading'}
        <tr>
          <td>
            ${reading.getCode()}
          </td>
          <td>
            ${reading.getTemp()}° C
           <br>
            ${reading.fahrenheit()}° F
            <br>
          </td>
          <td>
            ${reading.getWindSpeed()} km/hr
          </td>
          <td>
            ${reading.getWindDirection()}°
          </td>
          <td>
            ${reading.getPressure()} hPa
          </td>
          <td>
          <a href="/stations/${_station.id}/deleteReading/${reading.id}" class="button is-center is-danger has-text-weight-bold">Delete</a>
          </td>
        </tr>
        #{/list}
      </tbody>
    </table>
  </div>
</table>