#{extends 'main.html' /}
#{set title:'About' /}
#{menu id:"about"/}
<div class="content box">
  <p class="title">
    About The App
  </p>
  <p class="is-size-5 pb-4">
    A compact weather station application, created for users who want to track the weather in their area.
    <br>
    Users can create multiple profiles and multiple weather stations.
    <br>
    <br>
    Weathertop is a collaborative effort to create a free application for public consumption.
    <br>
    Please reach out to us if you have any questions or feedback.
  </p>
  <div class="columns">
    <div class="column is-offset-10">
      <a href="https://twitter.com/rickastley"><i class="fa-brands fa-2x fa-twitter"></i></a>
    </div>
    <div class="column">
      <a href="https://www.instagram.com/officialrickastley/"><i class="fa-brands fa-2x fa-instagram"></i></a>
    </div>
  </div>
</div>