#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<div class="content box">
  <div class="content box">
    #{listlatestreadings station:station /}
  </div>
  <div>
    <div class="columns">
      <div class="column is-half is-offset-2">
        <a href="/stations/${station.id}" class="icon has-text-info is-medium">
          <i class="fas fa-2x fa-folder"></i>
        </a>
      </div>
      <div class="column is-half is-offset-1">
        <a href="/dashboard/deleteStation/${station.id}" class="icon has-text-danger">
          <i class="fas fa-2x fa-trash"></i>
        </a>
      </div>
    </div>
  </div>
</div>
#{/list}
#{addStation /}